@model IEnumerable<MeusPedidos_Brunno.Models.Candidato>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Candidatos</h2>

<p>
    <a asp-action="Create">Cadastrar Candidato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Html)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Css)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Javascript)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Python)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Django)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Android)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ios)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Html)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Css)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Javascript)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Python)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Django)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Android)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Ios)
                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
